#home-container{
    display: flex;

    #feed-posts{
        width: 60%;
        padding: 10px;
    }

    #user-friends{
        width: 20%;
        padding: 15px;
        border-left: 2px solid grey;
        // height: 100%;
    }
}