#layout-footer {
  color: white;
  width: auto;
  height: auto;
  background: black;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
